body {
  font-size: 1.3rem; }

h1 {
  font-size: 38px;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif; }

h2 {
  font-size: 38px;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif; }

.non-underline-link {
  text-decoration: none !important; }

.fondo-nav {
  background-color: #13151d !important; }

#inicio {
  background: url("../Multimedia/Portadas/group-of-people-at-sound-mixer-station.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

/* Jumbotron Responsive -Mendia Queries- */
.jumbotron {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white; }

@media screen and (max-width: 539px) {
  .display-4 {
    font-size: 30px; }
  .jumbotron {
    padding-top: 5vw;
    font-size: 15px;
    height: 80vw; } }

@media (min-width: 540px) and (max-width: 991px) {
  .display-4 {
    font-size: 34px; }
  .jumbotron {
    padding-top: 40vw;
    font-size: 14px;
    height: 80vw; } }

@media screen and (min-width: 992px) {
  .jumbotron {
    width: 100%;
    height: 50vw; }
  .jumBox {
    width: 100%;
    height: 40vw; } }

.jumbotron-course {
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  /* color: white; */
  /* padding-top: 400px; */ }

/* PRODUCTOS */
.card-body h3 {
  padding-top: 20px;
  border-top: solid #4e4d5c77; }

/* Efecto Cards*/
.container .card {
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all .3s; }

.container .card:hover {
  background: #dee2e6a1;
  border-radius: 20px;
  transform: translateY(-15px);
  transition: transform .3s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5); }
  .container .card:hover .card-body h3 {
    border-top: solid white; }
  .container .card:hover .card-text {
    color: #4e4d5cf5; }

.card-text {
  font-size: 17px;
  color: #aeaeae; }

.lead {
  color: #4e4d5cf5; }

.star {
  color: #fbc02d; }

.cost span {
  color: #586F7C;
  font-weight: bold;
  font-size: 20px; }

/* Efecto Botones cards */
.btn-violet {
  background: #B47BF8; }

.btn-violet:hover {
  background: #883BD5; }

.btn-pink {
  background: #F95789; }

.btn-pink:hover {
  background: #DA4167; }

.btn-black {
  background: #264653; }

.btn-black:hover {
  background: #212529; }

.btn-cyan {
  background: #3DCCC7; }

.btn-cyan:hover {
  background: #0E9594; }

.jumbotron-blog {
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* padding-top: 400px; */ }

#bannerOpinion {
  background: #5454e6; }

/* BANNER OPINION */
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.article div {
  padding: 10px;
  color: #e1efea; }

.article div h1 {
  padding-bottom: 20px;
  border-bottom: solid 2px white; }

/* imagen RADIUS */
.imgRadius {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgRadius img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover; }

.article div p {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 30px;
  /* espaciado del texto */
  padding: 20px; }

#footer {
  background-color: #333533; }

/* ICONOS */
a .fab {
  color: white !important;
  font-size: 25px;
  margin: 5px 10px; }

/* BLOG */
#slider2 {
  background: url("../Multimedia/Portadas/jason-rosewell-ASKeuOZqhYU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 800px; */ }

.bg-1 {
  background: #363569; }

.bg-2 {
  background: #6c6ad2; }

.bg-3 {
  background: #a29fff; }

.bg-4 {
  background: #d8d4ff; }

/* div Slider Materialize -con iframe-  */
.tamanio {
  width: 100%;
  height: 70vh; }

.fondoSlider {
  background: #363A47;
  margin-top: -50px; }
