body {
  font-size: 1.2rem; }

#non-underline-link {
  text-decoration: none !important; }

.fondo-nav {
  background-color: #13151d !important; }

#inicio {
  background: url("../Multimedia/Portadas/group-of-people-at-sound-mixer-station.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.jumbotron {
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 400px; }

.jumbotron-course {
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  /* color: white; */
  /* padding-top: 400px; */ }

.jumbotron-blog {
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* padding-top: 400px; */ }

#bannerOpinion {
  background: #5454e6; }

/* BANNER OPINION */
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.article div {
  padding: 10px;
  color: #e1efea; }

.article div h1 {
  padding-bottom: 20px;
  border-bottom: solid 2px white; }

/* imagen RADIUS */
.imgRadius {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgRadius img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover; }

.article div p {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 30px;
  /* espaciado del texto */
  padding: 20px; }

#footer {
  background-color: #13151d; }

/* ICONOS */
a .fab {
  color: white !important;
  font-size: 25px;
  margin: 5px 10px; }

/* BLOG */
#slider2 {
  background: url("../Multimedia/Portadas/jason-rosewell-ASKeuOZqhYU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 800px; */ }

.bg-1 {
  background: #363569; }

.bg-2 {
  background: #6c6ad2; }

.bg-3 {
  background: #a29fff; }

.bg-4 {
  background: #d8d4ff; }

/* Estilos de Materialize */
.carousel {
  min-height: 880px; }

.carousel .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* background: #000; */
  width: 470px;
  height: 680px; }

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 15px; }

.carousel .indicators .indicator-item {
  background: #6f93bf; }
