body {
  font-size: 1.3rem; }

h1 {
  font-size: 38px;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif; }

h2 {
  font-size: 38px;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif; }

/* Saca bubrayado links*/
.non-underline-link {
  text-decoration: none !important;
  color: #7fc8f8; }

.non-underline-link:hover {
  color: #5aa9e6; }

/* NavBar */
.navbar-toggler-icon {
  font-size: 12px; }

.fondo-nav {
  background-color: #13151d !important; }

.collapse .form-control {
  border-radius: 0 !important; }

#inicio-Home {
  background: url("../Multimedia/Portadas/group-of-people-at-sound-mixer-station.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

#pageFree {
  background: url("../Multimedia/Portadas-Optimizadas/studio.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }

/* Jumbotron Responsive -Mendia Queries- */
.jumbotron {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white; }

@media screen and (max-width: 539px) {
  .display-4 {
    font-size: 30px; }
  .jumbotron {
    padding-top: 5vw;
    font-size: 15px;
    height: 80vw; }
  .navbar h1 {
    font-size: 20px; } }

@media (min-width: 540px) and (max-width: 991px) {
  .display-4 {
    font-size: 34px; }
  .jumbotron {
    padding-top: 40vw;
    font-size: 14px;
    height: 80vw; } }

@media screen and (min-width: 992px) {
  .jumbotron {
    width: 100%;
    height: 50vw; }
  .jumBox {
    width: 100%;
    height: 40vw; } }

.jumbotron-course {
  width: 100%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  /* color: white; */
  /* padding-top: 400px; */ }

/* PRODUCTOS */
.card-body h3 {
  padding-top: 20px;
  border-top: solid #4e4d5c77; }

/* Cards */
.cardB {
  border: none;
  background: none; }

/* Efecto Cards*/
.container .cardFx {
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: all .3s; }

.container .cardFx:hover {
  background: #dee2e6a1;
  border-radius: 20px;
  transform: translateY(-15px);
  transition: transform .3s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5); }
  .container .cardFx:hover .card-body h3 {
    border-top: solid white; }
  .container .cardFx:hover .card-text {
    color: #4e4d5cf5; }

.card-text {
  font-size: 17px;
  color: #aeaeae; }

.lead {
  color: #4e4d5cf5; }

.star {
  color: #fbc02d; }

.cost span {
  color: #586F7C;
  font-weight: bold;
  font-size: 20px; }

/* Efecto Botones cards */
.btn-violet {
  background: #B47BF8; }

.btn-violet:hover {
  background: #883BD5; }

.btn-pink {
  background: #F95789; }

.btn-pink:hover {
  background: #DA4167; }

.btn-black {
  background: #264653; }

.btn-black:hover {
  background: #212529; }

.btn-cyan {
  background: #3DCCC7; }

.btn-cyan:hover {
  background: #0E9594; }

.jumbotron-blog {
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  /* padding-top: 400px; */ }

#bannerOpinion {
  background: #5454e6; }

/* BANNER OPINION */
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.article div {
  padding: 10px;
  color: #e1efea; }

.article div h1 {
  padding-bottom: 20px;
  border-bottom: solid 2px white; }

/* imagen RADIUS */
.imgRadius {
  display: flex;
  justify-content: center;
  align-items: center; }

.imgRadius img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover; }

.article div p {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 30px;
  /* espaciado del texto */
  padding: 20px; }

/* Footer */
#footer {
  background-color: #333533; }

#footer p {
  color: #d5dfe5;
  font-size: 17px; }

.subscribe .form-control {
  border-radius: 0 !important;
  background: none; }

.subscribe .btn {
  border-radius: 0 !important; }

/* Social Media */
a .fab {
  color: white !important;
  font-size: 25px;
  margin: 5px 10px; }

.bg-1 {
  background: #363569; }

.bg-2 {
  background: #6c6ad2; }

.bg-3 {
  background: #a29fff; }

.bg-4 {
  background: #d8d4ff; }

/* div Slider Materialize -con iframe-  */
.tamanio {
  width: 100%;
  height: 1000px; }

.fondoSlider {
  background: #1b2021;
  margin-top: -40px; }

/*------------------------*/
/* estilos locales pages index.html */
/*------------------------*/
.jumBox .btn {
  border-radius: 20px; }

/*------------------------*/
/* estilos locales pages NEW.html */
/*------------------------*/
.backgroundBody {
  background: #fffffb; }

.jumbotron-background {
  background: #a9def9; }

.bg-slider {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bg-slider:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.carousel h2 {
  color: #a9def9; }

/* Cards Icons*/
.cardColor {
  background: white;
  border-radius: 5px; }

.iconCard-New {
  font-size: 55px;
  color: #354f52;
  margin-top: 5px; }

.hrr {
  border-top: solid #81b29a; }

.text-color {
  color: #004d57; }

/*------------------------*/
/* estilos locales pages Courses.html */
/*------------------------*/
.bg-Courses-int {
  background: #ede7b1; }
  .bg-Courses-int h2 {
    color: #4f5d75; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Saira Condensed', sans-serif;
  user-select: none;
  background: rgba(13, 65, 34, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform: scale(0);
  transition: .05s ease; }

.box:hover .capa {
  transform: scale(1); }

.jumbotron-background-skills {
  background: #e5e6e4; }

/*------------------------*/
/* estilos locales pages free.html */
/*------------------------*/
.hover-Cards {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .4s; }

.hover-Cards h4 {
  position: absolute;
  font-family: 'Saira Condensed', sans-serif;
  user-select: none;
  color: white;
  border: 2px solid white;
  background: black;
  padding: 2px;
  z-index: 2;
  transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0, 1); }

.hover-Cards:hover h4 {
  transform: scale(1); }

.hover-Cards img {
  transition: all .4s; }

.hover-Cards:hover img {
  transform: rotate(10deg) scale(1.5); }

.hover-Cards:before,
.hover-Cards:after {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  border: 2px solid white;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  z-index: 1; }

.hover-Cards:before {
  transform: rotate(45deg) translateY(-150%) translateX(-10%); }

.hover-Cards:after {
  transform: rotate(45deg) translateY(150%) translateX(-10%); }

.hover-Cards:hover:before {
  transform: rotate(45deg) translateY(-36%) translateX(-10%); }

.hover-Cards:hover:after {
  transform: rotate(45deg) translateY(65%) translateX(-10%); }

.free-Stuff .btn {
  border-radius: 20px;
  background: black; }

.follow {
  background: black; }

.follow p {
  color: gray;
  font-size: 16px; }

.follow .btn {
  border-radius: 20px; }

/*------------------------*/
/* estilos locales pages blog.html */
/*------------------------*/
#bannerBlog {
  background: url("../Multimedia/Portadas/jason-rosewell-ASKeuOZqhYU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 800px; */ }

.boder-danger {
  border: none !important; }

.div-text-blog p {
  font-size: 17px; }

.div-text-blog .btn {
  background: #ffe45e; }
