// VARIABLES 
$mascBlack: rgba(0, 0, 0, 0.5);
$widthJumbotron:100%;
$colorFooter:jet;


body{
    font-size: 1.3rem;
}

@for $i from 1 through 2{
    h#{$i}{
        font-size: 38px;
        font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
    }
}


.non-underline-link{
    text-decoration: none !important;
 }

.fondo-nav{
   background-color: #13151d !important;
    //background:transparent !important;
}

#inicio{
    background: url("../Multimedia/Portadas/group-of-people-at-sound-mixer-station.jpg");
    //height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}



/* Jumbotron Responsive -Mendia Queries- */
.jumbotron{
    width: $widthJumbotron;
    //height: 48vw;
    background: $mascBlack;
    color: white;
    //padding-top: 40vw;
}


@media screen and (max-width:539px){
    
    .display-4{
        font-size: 30px;
    }
    .jumbotron {
        padding-top: 5vw;
        font-size: 15px ;
        height: 80vw;
    }
}

@media (min-width:540px ) and (max-width:991px ){
    
    .display-4{
        font-size: 34px;
    }
    .jumbotron {
        padding-top: 40vw;
        font-size: 14px ;
        height: 80vw;
    }
}

@media screen and (min-width:992px) {

    .jumbotron {
        width: $widthJumbotron;
        height: 50vw;
    }

    .jumBox{
        width: $widthJumbotron;
        height: 40vw;
    }
}




.jumbotron-course{
    width: $widthJumbotron;
    height: 80%;
    background: $mascBlack;
    /* color: white; */
    /* padding-top: 400px; */
}


/* PRODUCTOS */
.card-body  h3{
    padding-top: 20px;
    border-top: solid #4e4d5c77;
}



/* Efecto Cards*/
.container .cardFx{
    border:none;
    outline: none;
    
    border-radius: 20px;
    
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: all .3s;
}
.container .cardFx:hover{
    background: #dee2e6a1;
    border-radius: 20px;
    transform: translateY(-15px);
    transition: transform .3s;//duda
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);

    .card-body  h3{
        border-top: solid white;   
    }
    
    .card-text{
        color: #4e4d5cf5;
    }
}

.card-text{
    font-size: 17px;
    color: #aeaeae;
}

.lead{
    color: #4e4d5cf5;
}

.star{
    color: #fbc02d;
}

.cost span{
    color: #586F7C;
    font-weight:bold;
    font-size: 20px;
}


/* Efecto Botones cards */
.btn-violet{
    background: #B47BF8;
}
.btn-violet:hover{
    background: #883BD5;
}

.btn-pink{
    background: #F95789;
}
.btn-pink:hover{
    background: #DA4167;
}

.btn-black{
    background: #264653;
}
.btn-black:hover{
    background: #212529;
}

.btn-cyan{
    background: #3DCCC7;
}
.btn-cyan:hover{
    background: #0E9594;
}



.jumbotron-blog{
    width: $widthJumbotron;
    height: 900px;
    background: $mascBlack;
    color: white;
    /* padding-top: 400px; */
}


#bannerOpinion{
    background: rgb(84, 84, 230);
}







/* BANNER OPINION */
.article{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center; 
}

.article div{
    padding: 10px;
    color: #e1efea;
    

}
.article div h1{
    padding-bottom: 20px;
    border-bottom: solid 2px white;
}


/* imagen RADIUS */
.imgRadius{
    display: flex;
    justify-content: center;
    align-items: center;     
}



.imgRadius img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover; 
}

.article div p{
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 30px; /* espaciado del texto */
    padding: 20px;
}

// uso CONDICIONAL
#footer{
    @if $colorFooter  == jet{
        background-color: #333533 ;
    }
    @else if $colorFooter  == azul{
        background-color: #2E4756;
    }@else if $colorFooter  == verde{
        background-color: #004d57;
    }@else{
        background-color: #13151d;
    }
}

/* Social Media - index*/
a .fab{
    color: white !important;
    font-size: 25px ;
    margin: 5px 10px;
}



/* BLOG */
#slider2{
    background: url("../Multimedia/Portadas/jason-rosewell-ASKeuOZqhYU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 800px; */
}


// Uso for aplicado en el index en Services & Products
@for $i from 1 through 4{
    .bg-#{$i}{
        background: #363569*$i;
    }
}


/* div Slider Materialize -con iframe-  */
.tamanio {
    width: 100%;
    height: 70vh;
}

.fondoSlider{
    background: #1b2021;
    margin-top: -50px;
}


/*------------------------*/
/* estilos pages NEW.html */
/*------------------------*/

.backgroundBody{
    background: #fffffb;
}

.jumbotron-background{
    background: #247ba0;
}


.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Saira Condensed', sans-serif;
    user-select: none;
    background: rgba(13, 65, 34, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0);
    transition: .05s ease;
}
.box:hover .capa{
    transform: scale(1);
}


/* Cards Icons*/
.cardColor{
    background: #ffd166;
    border-radius: 5px;
}
.iconCard-New{
    font-size: 55px;
    color: #354f52;
    margin-top: 5px;
}

.hrr {
    border-top: solid #81b29a;
}
.text-color{
    color: #004d57;
}




/*------------------------*/
/* estilos pages NEW.html */
/*------------------------*/
.cardB{
    border: none;
    background: none;
}

.jumbotron-background-skills{
    background: #e5e6e4;
}